<?php /* #?ini charset="utf-8"? 

[AnswerTypes]
AvailableAnswerTypes[]
AvailableAnswerTypes[]=single
AvailableAnswerTypes[]=multiple
AvailableAnswerTypes[]=grades1to6
AvailableAnswerTypes[]=grades1to10
AvailableAnswerTypes[]=grades
AvailableAnswerTypes[]=freestyle

[single]
IsGrade=disabled
Description=Einfach
AnswerText[]=

[multiple]
IsGrade=disabled
SelectMultiple=true
Description=Mehrfach
AnswerText[]=

[grades1to6]
IsGrade=enabled
Description=Noten 1 bis 6
ReadOnly=enabled
AnswerText[]=1
AnswerText[]=2
AnswerText[]=3
AnswerText[]=4
AnswerText[]=5
AnswerText[]=6

[grades1to10]
IsGrade=enabled
Description=Noten 1 bis 10
ReadOnly=enabled
AnswerText[]=1
AnswerText[]=2
AnswerText[]=3
AnswerText[]=4
AnswerText[]=5
AnswerText[]=6
AnswerText[]=7
AnswerText[]=8
AnswerText[]=9
AnswerText[]=10

[grades]
IsGrade=enabled
Description=Schulnoten
ReadOnly=enabled
AnswerText[]=sehrgut
AnswerText[]=gut
AnswerText[]=befriedigend
AnswerText[]=ausreichend
AnswerText[]=mangelhaft
AnswerText[]=ungenügend

[freestyle]
IsGrade=enabled
Description=Noten anpassbar
AnswerText[]=erste Note
AnswerText[]=zweite Note
AnswerText[]=dritte Note

[LayoutTypes]
IsGrade=enabled
AvailableLayoutTypes[]
AvailableLayoutTypes[]=normal
AvailableLayoutTypes[]=galery
AvailableLayoutTypes[]=vertical

[normal]
Description=horizontal

[galery]
Description=Galerie

[vertical]
Description=vertikal

*/ ?>